/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, max-nesting-depth, no-descending-specificity */
.feature {
  @include get-all-space;

  display: block;
  margin-top: 20rem !important; //stylelint-disable-line declaration-no-important
  margin-bottom: 10rem !important; //stylelint-disable-line declaration-no-important
  padding: 0 4rem;
  perspective: 1000px;

  @include mq(m) {
    margin-top: 0 !important; //stylelint-disable-line declaration-no-important
    margin-bottom: 0 !important; //stylelint-disable-line declaration-no-important
    padding: 4rem;
  }

  .is-transitioning & {
    @include mq(l) {
      overflow: hidden;
    }
  }
}

.feature__logo {
  @include center-x;

  z-index: 30;
  width: 23.5rem;

  @include mq($until: m) {
    top: -10rem;
  }

  .base {
    position: relative;
    z-index: 50;
  }

  .big {
    display: block;
  }
}

.feature__nav {
  z-index: 20;
}

.feature__shape {
  @include get-all-space;

  z-index: 0;
  opacity: 0.8;

  @include mq($until: l) {
    height: 100vh;
  }

  .logo.only-big {
    @include get-all-space;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    display: block;
    max-width: 56.8rem;
    margin: 0 auto;

    .base,
    .links {
      display: none;
    }
  }

  * {
    pointer-events: none;
  }
}

.feature__content {
  z-index: 10;
}

.colored {
  [data-feature-order='0'] & {
    color: $c-menu-feature-0;
  }

  [data-feature-order='1'] & {
    color: $c-menu-feature-1;
  }

  [data-feature-order='2'] & {
    color: $c-menu-feature-2;
  }

  [data-feature-order='3'] & {
    color: $c-menu-feature-3;
  }

  [data-feature-order='4'] & {
    color: $c-menu-feature-4;
  }

  [data-feature-order='5'] & {
    color: $c-menu-feature-5;
  }
}
